@import '~utils';

.wrapper {
  border: 0;
  width: 250px;
  height: auto;
  position: relative;
  margin: 10px 0px;
}

.input {
  font: 15px/24px "Lato", Arial, sans-serif;
  color: $color-ebonyclay;
  box-sizing: border-box;
  letter-spacing: 1px;
  width: 100%;
  border: 1px solid #ccc;
  transition: 0.4s;
  padding: 7px 14px 9px;

  &:focus{
    outline: none;
  }
}

.input ~ .focus-border:before,
.input ~ .focus-border:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: $color-saffron;
  transition: 0.4s;
}

.input ~ .focus-border:after {
  top: auto;
  bottom: 0;
}

.input ~ .focus-border i:before,
.input ~ .focus-border i:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 2px;
  height: 0;
  background-color: $color-saffron;
  transition: 0.6s;
}

.input ~ .focus-border i:after {
  left: auto;
  right: 0;
}

.input:focus ~ .focus-border:before,
.input:focus ~ .focus-border:after {
  left: 0;
  width: 100%;
  transition: 0.4s;
}

.input:focus ~ .focus-border i:before,
.input:focus ~ .focus-border i:after {
  top: 0; 
  height: 100%; 
  transition: 0.6s;
}
.focus-border {}
