@import '~utils';

.item {
  width: 49%;
  height: 300px;
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 12px;
  max-width: 319px;
  box-sizing: border-box;
  border: 1px solid black;

  @include tablet {
    width: 32%;
    max-width: none;
    margin: 6px;
    height: 285px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  }
  
  @include desktop {
    width: 23%;
    max-width: none;
    height: 285px;
    margin: 9px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);

    &:hover {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }
  
}

.item-content {
  background-color: $color-bombay;
  width: 100%;
  height: 30%;
  box-sizing: border-box;
  padding: 10px;
  color: $color-ebonyclay;

  @include tablet {

  }

  @include desktop {
    
  }
}

.item-title {
  padding-bottom: 10px;
  font-size: 1.35rem;

  @include tablet {

  }

  @include desktop {
    
  }
}

.item-description {
  padding-bottom: 10px;
  font-size: 1rem;

  @include tablet {

  }

  @include desktop {
    
  }
}



.item-image {
  background-color: pink;
  width: 100%;
  height: 70%;
  display: flex;

  img {
    width: 100%;
  
  }

  @include tablet {

  }

  @include desktop {
    
  }
}

