@import '~utils';

.button {
  width: 140px;
  height: 50px;
  border: 2px solid $color-white;
  border-radius: 5%;
  background-color: $color-saffron;
  transition: 0.5s;
  position: relative;

  &:hover {
    background-color: $color-white;
    color: $color-saffron;
    
  }

  // &:hover:before,
  // &:hover:after {
  //   content: '';
  //   height: 100%;
  //   width: 2px;
  //   position: absolute;
  //   top: 0;
  //   background-color: $color-saffron;
  // }

  // &:hover:before {
  //   left: 0;
  // }

  // &:hover:after {
  //   right: 0;
  // }
}

// i:hover:before,
// i:hover:after {
//   content: '';
//   height: 2px; 
//   width: 100%;
//   background-color: $color-saffron;
//   position: absolute;
// }

// i:hover:before {
//   top: 0;
// }

// .button-border:hover:after { 
//   bottom: 0;
// }

.button ~ .focus-border:before,
.button ~ .focus-border:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: $color-saffron;
  transition: 0.4s;
}

.button ~ .focus-border:after {
  top: auto;
  bottom: 0;
}

.button ~ .focus-border i:before,
.button ~ .focus-border i:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 2px;
  height: 0;
  background-color: $color-saffron;
  transition: 0.6s;
}

.button ~ .focus-border i:after {
  left: auto;
  right: 0;
}

.button:focus ~ .focus-border:before,
.button:focus ~ .focus-border:after {
  left: 0;
  width: 100%;
  transition: 0.4s;
}

.button:focus ~ .focus-border i:before,
.button:focus ~ .focus-border i:after {
  top: 0; 
  height: 100%; 
  transition: 0.6s;
} 