@import '~utils';

.wrapper {
  height: 100vh;
  width: 55%;
  position: absolute;
  right: 0;
  z-index: 10;
  background-color: lightgrey;//$color-mobile-background
  visibility: hidden;

  @include desktop {
    visibility: visible;
    display: block;
    height: 90px;
    width: 100%;
    background-color: $color-ebonyclay;
    position: fixed;
    top: 0;
    box-shadow: 0 6px 8px 0 rgba(0, 6, 34, 0.3);
  }
}

.main {
  width: 100%;
  height: 100%;

  @include desktop {
    height: inherit;
    max-width: $globalwidth;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    font-family: 'Ubuntu', sans-serif;
  }
}

.mobile-nav-button {
  position: fixed;
  width: 50px;
  height: 50px;
  background: red;
  left: 0;

  @include desktop {
    display: none;
  }
}

.logo { 
  width: 100%;
  height: 23%;
  
  @include desktop {
    width: 150px;
    height: 100%;
    background-color: $color-bombay;
  }
}

.logo-link {
  width: 100%;
  height: 100%;
}

.navigation {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  border-top: 1px solid $color-ebonyclay;

  @include desktop {
    border: none;
    flex-direction: row;
  }
}

.navigation-content {
  padding: 16px 25px;
  border-bottom: 1px solid $color-ebonyclay;

  @include desktop {
    padding: 34px 15px;
    border: none;
  }
}

.navigation-item {
  text-decoration: none;
  font-size: 22px;
  text-transform: uppercase;
  color: $color-ebonyclay;

  @include desktop {
    color: $color-saffron ;
  }
}


// .navigation {  
//   margin: 0;
//   padding: 0;
//   display: flex;
//   flex-direction: column;
//   align-items: flex-start;

//   @include desktop {
//     height: 100%;
//     flex-direction: row;
//     justify-content: space-between;
//     align-items: center;
//   }
// }

// .navigation-content {
//   padding: 10px 20px;
//   width: 100%;
//   border-bottom: 1px solid $color-ebonyclay;

//   @include desktop {    
//     padding: 10px;
//     text-align: center;
//   }
// }

// .navigation-item {
//   text-decoration: none;
//   color: $color-ebonyclay;
//   font-size: 1.5rem;
//   padding-right: 60%;

//   @include desktop { 
//     color: $color-saffron;
//     text-transform: uppercase;

//     // &:hover {
//     //   color: $color-bombay;
//     //   transition: 0.8s;
//     // }
//   }
// }
