$color-black: #000000;
$color-white: #ffffff;

$color-ebonyclay: #252839; //main
$color-nevada: #677077; //secondary
$color-bombay: #b5b5b7; //tertiary
$color-saffron: #f2b632; //quaternary

$color-mobile-background: #fafafa;