@import '~utils';
.categories-wrapper {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  
  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @include desktop {
    flex-direction: row;
    flex-wrap: wrap;
    width: 60%;
    max-height: 600px;
  }
}
.wrapper {
  width: 100%;
  display: flex;
}

.category {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  background-color: $color-bombay;
  display: flex;
  align-items: center;
  padding-left: 15px;
  margin-bottom: 7px;
  position: relative;

  &::after {
    content: '>';
    font-size: 25px;
    right: 8px;
    position: absolute;
    font-weight: 700;
  }

  a {
    text-decoration: none;
  }

  @include tablet {
    width: 49%;
    height: 50px;
    margin: 5px 0px;    
  }
  
  @include desktop {
    width: 49%;
    height: 65px;
    margin-right: none;
  }
}

.category:nth-child(2n+1) {
  margin-right: 6px;
}

.silhouette-img-wrapper {
  display: none;

  @include tablet {
    display: none;
  }

  @include desktop {
    width: 40%;
    display: block;
  }
}
.wrapper-body{

  img {
    width: 450px;
  }
}

SVG g[id*="body"]:hover{
  fill: $color-saffron;
}
//Need to fix the following on hover and arrange correct positioning
// glutes
// latts