@import '~utils';

.wrapper {
  width: 100%;
  height: 600px;
  bottom: 0;
  background-color: $color-ebonyclay;

  @include desktop {
    width: 100%;
    height: 350px;  
  }
}

.footer-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  color: $color-white;
}

.top-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-self: flex-end;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 30px;


  @include tablet {
    flex-direction: row;
  }

  @include desktop {   
    flex-direction: row;
  }
}

.top-left-container {
  width: 350px;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.info-logo {
  width: 100%;
  height: 150px;
  background-color: red;
  margin-bottom: 10px;
}
// .info-logo-content {}

.info-about {
  display: flex;
  flex-direction: column;
}

.info-about-details {
  font-size: 1.6rem;
  line-height: 140%;
  padding-bottom: 2px;
}

.info-about-other {
  color: $color-saffron;
}

.top-right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.social-container {
  width: 225px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 15px;
  align-self: flex-end;
}

.social-icon {
  width: 40px;
  height: 40px;
  border: 3px solid $color-saffron;
  border-radius: 50%;
  
  &:hover {
    border: 3px solid $color-bombay;
    border-radius: 50%;
    transition: 0.5s;
    transform: rotate(360deg);
    
    svg {
      fill: $color-bombay;
      transition: 0.5s;
    }
  }
  
  svg {
    fill: $color-saffron;
    width: 20px;
    height: 20px;
    transform: translate(50%, -52%);
    top: 50%;
    position: relative;
  }
  
  &.social-icons-linkedin svg {
    transform: translate(50%, -60%);
  }
}

.info-copyright {
  text-align: right;
  font-size: 1.6rem;
}

.info-copyright-content {
  line-height: 140%;
}

.separator-line {
  display: none;
  
  @include desktop {
    display: block;
    width: 100%;
    height: 0;
  }
}

.bottom-container {
  display: block;
}

.navigation {  
  height: 100%;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: row;
  max-width: 650px;
  justify-content: space-evenly;
  align-items: center;
}

.navigation-content {
  padding: 10px;
  text-align: center;
}

.navigation-item {
  text-decoration: none;
  color: $color-white;
  font-size: 1.3rem;
  
  &:hover {
    color: $color-saffron;
    border-bottom: 1px solid $color-saffron;
    transition: 0.4s;
  }
}